.header {
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.errorBox {
    -fx-font-size: 12;
    -fx-text-fill: red;

}

.selected-element {
    -fx-border-color: blue;
    -fx-border-width: 2px;
}